<div class="d-grid text-color  align-items-center justify-content-center m-3">
<h1>Rails blog</h1>
</div>

<main >
<% @users.each do |user| %> 
<div class="row border border-1">
<div class="col ">
<div class="mb-1 ms-3 "><%=  image_tag (user.photo),height: 200 ,width: 150 %></div>
</div>
<div class="col">
     <%= link_to (user.name),user_path(user.id), class:"fs-2 badge badge-light"%>
     
        <div class="fs-4">Number of posts: <%= user.posts_counter%></div>
</div>
</div>
</main>



 

<%end%>