* {
  background-color: rgb(218, 144, 117);
  padding: 0;
  margin: 0;
}

.btn {
  text-decoration: none;
  position: relative;
}

.counter {
  position: relative;
  left: 84vw;
}

.likes {
  flex-direction: row;
  align-items: baseline;
}

.corner {
  position: relative;
  left: 80vw;
  bottom: 3vw;
  font-size: 15px;
}
